@import "~bootstrap/scss/bootstrap";

.auth-container {
    margin: 50px 300px;
}

.profile-container {
    margin: 50px 300px;
}


.profile {
    border: 1px solid black;
    border-radius: 1%;

}

.party--single {
    border: 1px solid black;
    border-radius: 1%;
}