@import "~bootstrap/scss/bootstrap";

.auth-container {
    margin: 50px 300px;
}

.profile-container {
    margin: 50px 300px;
}


.party-container {
    margin: 50px 300px;
}

.party {
    border: 1px solid black;
    border-radius: 1%;
    margin: 0px 50px 0px 0px;
}

.roles-needed {
    padding: 20px 5px 0px 0px;
    margin: 0
}